.text-common {
    font-weight: @font-weight-normal;
    font-size: 18px;
    line-height: 1.778em;
}

.text-small {
    font-weight: @font-weight-normal;
    font-size: 16px;
    line-height: 1.625em;
}

.text-tiny {
    font-weight: @font-weight-normal;
    font-size: 14px;
    line-height: 1.429em;
}


.title-big {
    font-weight: @font-weight-bold;
    font-size: 72px;
    line-height: 1.361em;
}

.title-medium {
    font-weight: @font-weight-bold;
    font-size: 48px;
    line-height: 1.333em;
}

.title-medium-small {
    font-weight: @font-weight-bold;
    font-size: 40px;
    line-height: 1.35em;
}

.title-small {
    font-weight: @font-weight-medium;
    font-size: 24px;
    line-height: 1.333em;
}


@media screen and (max-width: 450px) {
    .title-big {
        font-size: 48px;
    }

    .title-medium {
        font-size: 32px;
    }

    .title-medium-small {
        font-size: 28px;
    }
}

@media screen and (max-width: 290px) {
    .title-big {
        font-size: 32px;
    }
}