.top {
    background-image: url("../images/backgrounds/Background-01.png");
    /*background-size:contain;*/
    background-repeat: no-repeat;
    background-position: top;
    min-height: 866px;

    &__content {
        display: inline-block;
        max-width: 730px;
    }

    &__title {
        margin-top: 168px;
    }

    &__link {
        margin-top: 32px;
    }


    &__mockup {
        display: inline-block;
        vertical-align: middle;
        margin-top: 98px;
        margin-left: 58px;
    }

    &__image {
        display: inline-block;
    }
}

@media screen and (max-width: 1170px) {
    .top {
        padding-bottom: 50px;

        text-align: center;

        &__title {
            display: block;
        }

        &__mockup {
            display: block;
            margin-top: 40px;
            margin-left: 0;
        }

        &__link {
            margin-left: -32px;
        }
    }
}

@media screen and (max-width: 820px) {
    .top {
        text-align: center;

        &__title {
            margin-top: 60px;
        }
    }
}